language: ruby
dist: xenial
cache: bundler
services:
  - postgresql
  - mysql
bundler_args: --without yard guard benchmarks tools
before_script:
  - psql -c 'create database rom_sql;' -U postgres
  - mysql -u root -e 'create database rom_sql;'
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
after_script:
  - "[ -d coverage ] && ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT"
script:
  - bundle exec rake
rvm:
  - 2.6.1
  - 2.5.3
  - 2.4.5
  - jruby-9.2.6.0
env:
  global:
    - COVERAGE='true'
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/39e1225f489f38b0bd09
    on_success: change
    on_failure: always
    on_start: false
addons:
  postgresql: 10
  apt:
    packages:
      - mysql-server-5.6
      - mysql-client-core-5.6
      - mysql-client-5.6
